APP_ENV=production
HOST=0.0.0.0
PORT=8000

OUTPUT_DIR=/app/output
TEMP_DIR=/app/tmp

AUTO_DEPLOY=false
ALLOW_URL_FETCH=true

CADDY_TARGET_FILE=/deploy-target/Caddyfile
CADDY_CONTAINER_NAME=caddy
CADDY_CONTAINER_CONFIG_PATH=/etc/caddy/Caddyfile
CADDY_VALIDATE_AND_RELOAD=true

DOCKER_SOCKET_ENABLED=false
